<!DOCTYPE html>
<html lang="en">

<head>
    {include #head} {block #headbody}
</head>

<body>
    {/block} {include #content} {block #scripts}
    <div class="hi_mom"></div>
    {/block}
</body>

</html>