# ignore all logs
*.log
server/node_modules
server/vendor
server/composer.lock
server/package-lock.json
server/www/dist/*.js
server/www/dist/*.wasm
server/log/*.log
server/log/*.html
server/temp/cache
server/.config
mariadb/data
apache/certs