<html>

<head>
    <meta charset="utf-8" />
    <title>Register Confirmation</title>
    <style></style>
</head>

<body>
    <p>Hello, {$username}</p>

    <a>Click </a><a n:attr="href => $activation_url"> here</a
    ><a> to confirm your webgame registration.</a>
</body>

</html>