{import '../mainpage.latte'} {block #maintag}
<main role="main" class="inner cover">
    <h1 class="cover-heading">Webgame</h1>
    <p class="lead">A web game using Docker, Nette and Emscripten</p>
    <p class="lead">
        <a n:href="Servers:default" class="btn btn-lg btn-secondary">Play Now!</a>
    </p>
</main>
{/block}